body{
    background: linear-gradient(to left, rgb(143, 55, 225), rgb(172, 111, 229));
}
input{
    border: 1px solid blueviolet;
    border-radius: 18px;
    padding: 10px 10px;
    margin: 10px;
    width: 180px;
    
}
.text__div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
    margin-top: 60px;
    /* padding-left: 21%; */
    /* color: rgb(18, 5, 166); */
    color:rgb(211, 253, 2)


}
h2{
    /* font-family:'Times New Roman', Times, serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background-color: powderblue;
    /* display: block; */
    color:rgb(52, 12, 12);
    /* padding-left: 26%; */
    margin-top: 40px;
    margin-bottom: 25px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 24.5%;
    padding-right: 24.5%;
}
.div__times{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#shift-start:hover,#shift-end:hover, .input__shift-type:hover, #dropdown:hover{
/* transform: translateY(0.5px); */
/* border: 1px solid black; */
box-shadow: 1px 1px 2px black;
}
.div__submit{
   margin-top: 20px; 
display: flex ;
justify-content: center;
height: 60px;
}
/* .input__submit{
    /* background-color: rgb(71, 221, 71) ; */
    /* color:black; 
    font-size: 15px;
    font-weight: 550;
    background-color: rgb(61, 223, 244);;
    background-color: rgb(211, 253, 2);
    height: 45px;
}
.input__submit:hover{
    box-shadow: 1px 1px 2px black;
} */ 
label{
font-family:Georgia, 'Times New Roman', Times, serif;

}

button.submit{
    border-radius: 18px;
    padding: 12.5px 12.5px;
    margin: 7px;
    width: 180px;
    margin-top: 40px; 
    display: flex ;
    justify-content: center;
    height: 60px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 550;
    background-color: rgb(61, 223, 244);;
    background-color: rgb(211, 253, 2);
    height: 45px;
    /* transition: transform 0.1s ease; */
}
#dropdown{
    border: 1px solid blueviolet;
    border-radius: 18px;
    padding: 10px 10px;
    margin: 10px;
    width: 190px;
}

button:hover{
    box-shadow: 0px 2px black;

    font-weight: 650;
    cursor: pointer;
}
button:active{
    transform: translateY(1px);
}
.result__div{
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-top: 80px;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: powderblue;
    background-color: whitesmoke;
padding: 15px;
padding-left: 200px;
padding-right: 200px;
color:rgb(140, 1, 140);
border-radius: 10px;
border: 1.5px solid black;
}
.result__text{
    /* font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: powderblue;
    background-color: whitesmoke;
padding: 15px;
padding-left: 200px;
padding-right: 200px;
color:rgb(140, 1, 140);
border-radius: 10px;
border: 2px solid powderblue; */

}


button.Yes {
    margin: 7px;
    width: 80px;
    background-color: rgb(211, 253, 2);
    height: 30px;
    font-weight: 550;
    border-radius: 18px;
    margin-left: 20px ;
}
button.Yes:hover{
    color: black;
    font-weight: 750;
}
button.No{
    margin: 7px;
    width: 80px;
    background-color: rgba(248, 19, 23, 0.799);
    height: 30px;
    font-weight: 550;
    border-radius: 18px;
}
button.No:hover{
    color: black;
    font-weight: 750;
    
}
.another__calc--div{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.another__calc{
    margin: 7px;
    width: 250px;
    background-color: rgb(211, 253, 2);
    height: 35px;
    font-weight: 550;
    border-radius: 18px;
    margin-left: 20px ;
    border: 2px solid black;
    font-weight: 600 ;
}
span.breakdown{
    color:red;
}